.advantages__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: auto;
}

.advantages__title {
  margin: 0;
  padding-bottom: 30px;
  font-family: @font-regular;
  .font-size(36px; 60px);
}

.advantages__text {
  margin: 0;
  padding-bottom: 26px;
  padding-left: 80px;
  font-family: Arial, sans-serif;
  .font-size(14px; 18px);
}
