.button {
  display: inline-block;
  margin: auto;
  padding: 11px 10px;
  width: 260px;
  font-family: @font-regular;
  .font-size(14px, 18px);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  color: @color-white;
  background-color: @color-bg;
}
