.catalog-gift {
  margin-bottom: 30px;
  background: url("/img/gift-photo-mobile@1x.jpg") no-repeat;
  background-color: @color-bg;
  width: 280px;
  height: 289px;
  text-align: center;
}

.catalog-gift__text {
  display: inline-block;
  padding-top: 185px;
  padding-left: 55px;
  padding-right: 55px;
  font-family: Arial, sans-serif;
  .font-size(16px; 20px);
  color: @color-white;
}
