.example__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: auto;
  background-color: @color-bg2;
}

.example__title {
  padding-left: 20px;
  padding-bottom: 0;
  font-family: @font-regular;
  .font-size(36px; 60px);
}

.example__text {
  padding-bottom: 40px;
  font-family: Arial, sans-serif;
  text-align: left;
}

.example__table {
  width: 280px;
  margin: auto;
}

.example__value {
  font-family: @font-regular;
  .font-size (24px; 24px);
  text-transform: uppercase;
}

.example__field {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 65px;
  font-family: Arial, sans-serif;
  .font-size(12px; 12px);
  text-align: center;
}

.example__slider {
  text-align: center;
  text-transform: uppercase;
}

.slider__title {
  padding-bottom: 44px;
}

.slider__navigation {
  padding-left: 40px;
  padding-top: 35px;
  padding-bottom: 37px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.slider__toggle {
  display: inline-block;
  font-family: @font-regular;
  .font-size(16px; 20px);
  border: none;
  background-color: @color-bg2;
  text-transform: uppercase;
}
