.example {
  background-color: @color-bg2;
  z-index: 0;
}

.example__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: auto;
}

.example__title {
  padding-top: 17px;
  padding-bottom: 25px;
  margin: 0;
  font-family: @font-regular;
  .font-size(36px;
  60px);
}

.example__text {
  padding-bottom: 40px;
  margin: 0;
  font-family: "Arial", sans-serif;
  text-align: left;
}

.example__table {
  width: 280px;
  margin: 0 auto;
}

.example__legend {
  display: inline-block;
  padding-left: 47px;
  padding-top: 5px;
  padding-bottom: 30px;
  .font-size(14px;
  24px);
  font-weight: bold;
  text-transform: uppercase;
}

.example__value {
  display: inline;
  position: relative;
  font-family: @font-regular;
  text-transform: uppercase;
  .font-size (24px;
  24px);
}

.example__value:first-child::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -2px;
  width: 123px;
  height: 54px;
  border: 1px solid @color-bg3;
  border-radius: 3%;
}

.example__value:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  width: 123px;
  height: 54px;
  border: 1px solid @color-bg3;
  border-radius: 3%;
}

.example__value:first-child {
  padding-left: 41px;
}

.example__value:nth-child(2) {
  padding-right: 23px;
}

.example__table tr {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin: 0 auto;
}

.example__field {
  display: inline-block;
  margin-top: 5px;
  padding-bottom: 11px;
  width: 86px;
  position: relative;
  font-family: "Arial", sans-serif;
  .font-size(12px;
  12px);
  text-align: center;
  background-color: @color-bg2;
}

.example__field:first-child {
  margin-left: 15px;
}

.example__field:nth-child(2) {
  margin-right: 19px;
}

.example__slider {
  text-align: center;
  text-transform: uppercase;
  width: 320px;
}

.slider__navigation {
  position: relative;
  padding-left: 37px;
  padding-top: 32px;
  padding-bottom: 34px;
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.slider__slide-before {
  margin-left: -40px;
}

.slider__slide-after {
  display: none;
}

.slider__scale {
  position: relative;
  margin-top: 4px;
  height: 12px;
  width: 82px;
  background-color: @color-white;
  border: 1px solid @color-bg3;
  border-radius: 20px;
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 5.5px;
    top: 3px;
    left: 6px;
    background-color: @color-bg;
    border-radius: 20px;
  }
}

.slider__toggle {
  display: inline-block;
  font-family: @font-regular;
  .font-size(16px;
  20px);
  border: none;
  background-color: @color-bg2;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .example {
    width: 100%;
    position: relative;
    background: none;
    border-top: 1px solid @color-border;
    .wrapper();
  }
  .example:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 462px;
    background-color: @color-bg2;
    background-image: linear-gradient(to right, @color-bg2 50%, @color-bg4 50%);
  }
  .example__wrapper {
    position: relative;
  }
  .example__title {
    padding-top: 45px;
    padding-bottom: 62px;
    .font-size(60px;
    60px);
  }
  .example__text {
    padding-bottom: 66px;
    width: 680px;
    .font-size(16px;
    24px);
  }
  .example__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .example__table {
    margin-left: 0;
    padding-left: 8px;
    width: 384px;
  }
  .example__legend {
    padding: 0;
    width: 194px;
    word-wrap: break-word;
    text-align: right;
    .font-size(20px;
    24px);
  }
  .example__table tr {
    margin: 0;
    justify-content: space-between;
    width: 350px;
  }
  .example__value {
    .font-size(30px;
    37.02px);
  }
  .example__value:first-child {
    margin-left: 7px;
    &::before {
      width: 161px;
      height: 70px;
      top: -12px;
      left: -17px;
    }
  }
  .example__value:nth-child(2) {
    padding-left: 27px;
    &::before {
      width: 161px;
      height: 70px;
      top: -12px;
      left: -4px;
    }
  }
  .example__field {
    margin-top: 0;
    padding-left: 1px;
    padding-top: 9px;
    background-color: @color-white;
    .font-size(14px;
    18px);
  }
  .example__field:first-child {
    margin: 0 0 0 11px;
    width: 115px;
  }
  .example__field:nth-child(2) {
    margin-right: 4px;
    width: 142px;
  }
  .example__field br {
    display: none;
  }
  .example__slider {
    padding-top: 45px;
    width: 100%;
  }
  .example__slider picture {
    margin-left: 15px;
  }

  .slider__slide-before {
    margin-top: 20px;
  }
  .slider__navigation {
    width: 570px;
    margin: 0 0 0 52px;
    padding-bottom: 70px;
    padding-top: 0;
    padding-left: 17px;
  }
  .slider__scale {
    width: 75%;
    border: none;
    height: 6px;
    top: 5px;
    background-color: rgb(220, 220, 220);
    &::before {
      display: none;
    }
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: 200px;
    background-color: @color-white;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    box-shadow: 0 2px 1px 1px rgba(0, 1, 1, 0.2);
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 11px;
      left: 11px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }
  .toggle:hover {
    box-shadow: 0 3px 3px 3px rgba(0, 1, 1, 0.2);
  }
  .toggle:active {
    border: 2px solid #68b738;
  }
  .slider__toggle {
    position: relative;
    padding: 0 0 5px;
    border-bottom: 1px dashed rgb(190, 190, 190);
    background-color: inherit;
    .font-size(20px;
    20px);
  }
  .slider__slide-before {
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .example {
    border-top: none;
    
    .wrapper();
    &::before {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      height: 462px;
      background-color: @color-bg2;
      background-image: linear-gradient(to right, @color-bg2 1085px, @color-bg4 0);
      z-index: -1;
    }
  }
  .example__wrapper {
    padding-bottom: 107px;
    display: flex;
    justify-content: space-between;
  }
  .example__title {
    padding-top: 51px;
    padding-bottom: 145px;
  }
  .example__text {
    width: 440px;
    padding-bottom: 80px;
  }
  .example__container {
    flex-direction: column;
  }
  .example__table {
    padding-left: 10px;
  }
  .example__table td {
    background-color: @color-bg2;
  }
  .example__legend {
    padding-top: 40px;
    width: 327px;
    display: flex;
    justify-content: space-between;
  }
  .example__slider {
    padding: 0;
    width: 610px;
    margin-right: 55px;
  }
  .slide__wrap {
    width: 690px;
  }
  .slider__slide-before {
    margin-top: 0;
  }
  .slider__scale {
    margin-left: 3px;
  }
  .slider__navigation {
    margin-left: 77px;
    padding-top: 16px;
    padding-bottom: 0;
  }
}
