.page-footer__wrapper {
  padding: 0;
  text-align: center;
  width: 320px;
  margin: auto;
  background-color: @color-bg2;
}

.academy__link {
  font-family: Arial, sans-serif;
  .font-size(16px; 20px);
  color: rgba(68, 68, 68, 1);
}

.page-footer__logo-image {
  padding-top: 39px;
  padding-bottom: 30px;
}
