.form__introduction {
  width: 230px;
  margin: 0 auto;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 41px;
  text-transform: uppercase;
}

.form fieldset {
  padding: 0;
  margin: 0;
  border: none;
  .font-size(16px;
  18px);
  text-transform: uppercase;
}

.form sup {
  font-size: 1em;
  top: -1px;
  left: -4px;
}

.form-client-data {
  padding-bottom: 7px;
  border-bottom: 1px solid @color-border;
}

.form-client-data__wrapper {
  border-bottom: 1px solid @color-border;
}

.form-client-data__container {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 16.5px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-client-data__field {
  padding: 11px 16px;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid @color-border;
}

.form-client-data-name__field {
  padding-left: 11px;
}

.form-client-data label {
  padding-right: 13px;
  flex-shrink: 0;
}

.form-option {
  padding-top: 27px;
  padding-bottom: 2px;
}

.form-option__container {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

.form-option label {
  width: 80%;
  padding-left: 46px;
  padding-bottom: 25px;
  position: relative;
  text-align: left;
  .font-size(16px;
  18px);
}

.form-option__radio {
  display: none;
}

.form-option__radio + label::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -5px;
  left: 0;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 50%;
}

.form-option__radio:checked + label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 9px;
  background-color: @color-bg;
  border-radius: 50%;
}

.form-client-contacts {
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
}

.form-client-contacts::before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 3px;
  top: 43px;
  z-index: -1;
  right: 0;
  background-color: @color-bg;
}

.form-client-contacts__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form-client-contacts__title {
  width: 200px;
  margin: 0;
  padding-bottom: 35px;
  .font-size(24px;
  24px);
  text-transform: none;
  background-color: @color-white;
}

.form-client-contacts__container {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form-client-contacts__field {
  padding: 10px 11px;
  text-transform: uppercase;
  width: 100%;
  position: relative;
}

.form-client-contacts-email__field {
  padding-left: 12px;
  padding-top: 9px;
}

.form-client-contacts__field label {
  position: relative;
}

.email-sup::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 15px;
  top: 5px;
  left: 203px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.tel-sup::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 3px;
  left: 188px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.form-client-contacts label {
  padding-right: 8px;
  flex-shrink: 0;
}

.form-comment {
  position: relative;
  padding-bottom: 28px;
}

.form-comment::before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 3px;
  top: 13px;
  z-index: -1;
  right: 0;
  background-color: @color-bg;
}

.form-comment__container {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.form-comment__title {
  width: 140px;
  margin: 0;
  padding-bottom: 34px;
  .font-size(24px;
  24px);
  text-transform: none;
  background-color: @color-white;
}

.form-comment__text {
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 6px;
  width: 260px;
  text-transform: uppercase;
}

.form-extra {
  position: relative;
}

.form-extra::before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 3px;
  top: 13px;
  z-index: -1;
  right: 0;
  background-color: @color-bg;
}

.form-extra__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 16px;
}

.form-extra__title {
  width: 160px;
  padding-bottom: 40px;
  .font-size(24px;
  24px);
  text-transform: none;
  background-color: @color-white;
}

.form-extra__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.form-extra label {
  width: 80%;
  word-wrap: break-word;
  text-align: left;
  padding-bottom: 25px;
  padding-left: 46px;
  position: relative;
  .font-size(16px;
  18px);
}

.form-extra__checkbox {
  display: none;
}

.form-extra__checkbox + label::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 27px;
  top: 0;
  left: 0;
  border: 1px solid rgb(207, 207, 207);
}

.form-extra__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__button {
  margin-bottom: 20px;
  width: 100%;
  .font-size(16px;
  20px);
}

.form__legend {
  padding-left: 65px;
  font-family: "Arial", sans-serif;
  .font-size(14px;
  16px);
  text-align: center;
}

.form-bottom__container {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .form {
    margin: 0 auto;
  }

  .form-header__container {
    width: @tablet-width;
    margin: 0 auto;
  }

  .form__introduction {
    width: 335px;
    padding-bottom: 65px;
    padding-left: 70px;
    margin-left: 0;
    .font-size(20px;
    30px);
  }

  .form fieldset {
    .font-size(20px;
    20px);
  }

  .form-client-data {
    width: 100%;
    padding-bottom: 25px;
    border: none;
  }

  .form-client-data__container {
    padding-bottom: 18px;
    padding-left: 5px;
    width: 630px;
  }

  .form-client-data__wrapper {
    border: none;
  }

  .form-client-data__field {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .form-client-data-name__field {
    padding-left: 16px;
  }

  .form-option {
    padding-top: 30px;
  }

  .form-option__container {
    padding-top: 30px;
    width: 630px;
    border: 1px solid @color-bg2;
  }

  .form-option label {
    padding-left: 90px;
    padding-bottom: 33px;
    .font-size(20px;
    20px);
  }

  .form-option__radio + label::before {
    width: 38px;
    height: 38px;
    left: 30px;
    top: -7px;
  }

  .form-option__radio:checked + label::after {
    width: 18px;
    height: 18px;
    top: 2px;
    left: 41px;
  }

  .form-client-contacts {
    padding-top: 75px;
    padding-bottom: 48px;

    &::before {
      width: 100vw;
      top: 97px;
    }
  }

  .form-client-contacts__wrapper {
    width: 710px;
  }

  .form-client-contacts__container {
    width: 630px;
    padding-bottom: 20px;
  }

  .form-client-contacts__title {
    width: 595px;
    padding-bottom: 75px;
    padding-left: 40px;
    .font-size(36px;
    36px);
  }

  .form-client-contacts label {
    padding-right: 15px;
  }

  .form-client-contacts__field {
    padding-left: 14px;
    padding-top: 15px;
  }

  .form-client-contacts-email__field {
    padding-left: 20px;
    padding-top: 14px;
  }

  .email-sup::before {
    left: 541px;
    top: 9px;
  }

  .tel-sup::before {
    left: 520px;
    top: 6.5px;
  }

  .form-comment {
    padding-bottom: 30px;
  }

  .form-comment::before {
    width: 100vw;
    top: 22px;
  }

  .form-comment__container {
    width: 710px;
    padding-bottom: 36px;
  }

  .form-comment__title {
    width: 258px;
    margin-left: 0;
    padding-left: 40px;
    padding-bottom: 75px;
    .font-size(36px;
    36px);
    background-color: #ffffff;
  }

  .form-comment__text {
    margin-left: 40px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 0;
    width: 610px;
  }

  .form-extra::before {
    width: 100vw;
    top: 25px;
  }

  .form-extra__title {
    width: 295px;
    padding-left: 40px;
    padding-bottom: 68px;
    .font-size(36px;
    36px);
    background-color: @color-white;
  }

  .form-extra__wrapper {
    width: 710px;
  }

  .form-extra__container {
    width: 568px;
    margin-left: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-extra label {
    padding-left: 60px;
    padding-bottom: 50px;
    width: 165px;
    .font-size(20px;
    20px);
  }

  .form-extra__checkbox + label::before {
    width: 38px;
    height: 38px;
    top: -7px;
  }

  .form-extra__checkbox:checked + label::after {
    left: 11px;
  }

  .form-bottom__container {
    display: flex;
    justify-content: flex-start;
    width: 630px;
    padding-left: 5px;
    padding-bottom: 72px;
    align-items: center;
  }

  .form__button {
    margin: 0;
    width: 282px;
    padding: 16px 0;
    .font-size(20px;
    20px);
  }

  .form__legend {
    margin-left: 65px;
    padding: 0;
    margin-top: -5px;
    .font-size(16px;
    16px);
  }
}

@media (min-width: @desktop-width) {
  .form {
    padding: 0 0 85px;
  }

  .form-header__container {
    width: @width-large;
  }

  .form__introduction {
    padding-left: 0;
  }

  .form-client-data__wrapper {
    display: flex;
    justify-content: space-between;
    width: @width-large;
    margin: auto;
  }

  .form-client-data__container {
    padding-left: 1px;
    width: 570px;
    margin-left: 0;
  }

  .form-option {
    min-width: 570px;
    max-height: 165px;
    padding-bottom: 0;
    border: 1px solid @color-border;
  }

  .form-option__container {
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
  }

  .form-client-contacts {
    padding-top: 25px;

    &::before {
      top: 47px;
    }
  }

  .form-client-contacts__container {
    width: 47%;
    margin: 0;
  }

  .form-client-contacts__wrapper {
    width: @desktop-width;
  }

  .form-client-contacts__wrap {
    display: flex;
    width: @width-large;
    justify-content: space-between;
    margin-left: 40px;
  }

  .form-client-contacts__field {
    width: 486px;
  }

  .email-sup::before {
    left: 478px;
    bottom: 8px;
  }

  .tel-sup::before {
    left: 459px;
  }

  .form-comment {
    padding-bottom: 68px;
  }

  .form-comment__container {
    width: @desktop-width;
    padding-bottom: 0;
  }

  .form-comment__text {
    width: 1200px;
  }

  .form-extra__wrapper {
    width: @desktop-width;
    padding-bottom: 20px;
  }

  .form-extra__container {
    width: 1200px;
  }

  .form-extra__checkbox + label::before {
    top: -10px;
  }

  .form-bottom__container {
    width: @width-large;
  }

  .form__button {
    width: 570px;
  }

  .form__legend {
    margin-left: 83px;
  }
}
