.promo {
  text-align: center;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
  background-size: auto;
  color: @color-white;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  padding: 27px 40px;
  margin: 0;
  font-family: @font-regular;
  font-weight: normal;
  .font-size(34px; 36px);
}

.promo__text {
  padding-bottom: 29px;
  font-family: @font-regular;
  .font-size(14px; 14px);
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
}

@media(min-width: @tablet-width) {
  .promo {
    width: 100%;
    position: relative;
    text-align: left;
    .wrapper();
  }

  .promo__wrapper {
    justify-content: flex-start;
    background-image: none;
  }

  .promo__title {
    padding-top: 56px;
    padding-left: 85px;
    padding-bottom: 41px;
    width: 420px;
    .font-size(60px; 60px);
    color: @color-text-17;
    text-align: left;
    z-index: 2;
  }

  .promo__text {
    padding-left: 90px;
    padding-bottom: 50px;
    .font-size(20px; 20px);
    color: @color-text-17;
    z-index: 2;
  }

  .promo__button {
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    top: 285px;
    margin-left: 89px;
    width: 244px;
    z-index: 2;
  }

  .promo__image {
    margin-top: -30px;
    width: 709px;
    height: 609px;
    z-index: 1;
  }
  .promo picture {
    height: 580px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    padding-bottom: 15px;
    .wrapper();
  }

  .promo::before {
    content: "";
    position: absolute;
    top: -117px;
    right: 0;
    width: 720px;
    height: 100%;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    z-index: -1;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .promo__title {
    padding-top: 105px;
    padding-left: 81px;
  }

  .promo__text {
    padding-left: 81px;
  }

  .promo__button {
    top: 339px;
    margin-left: 81px;
    width: 245px;
  }

  .promo__image {
    position: relative;
    right: -450px;
    top: -280px;
    width: 552px;
    height: 499px;
  }

  .promo picture {
    height: 310px;
  }
}
