.promo {
  padding-top: 4px;
  text-align: center;
}

.promo__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
  color: @color-white;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat, linear-gradient(#65a93c) no-repeat;
  background-size: 320px 305px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  padding: 27px 40px;
  padding-bottom: 25px;
  margin: 0;
  font-family: @font-regular;
  font-weight: normal;
  .font-size(34px; 36px);
}

.promo__text {

  padding-bottom: 28px;
  font-family: @font-regular;
  .font-size(14px; 14px);
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .promo {
    width: 100%;
    position: relative;
    text-align: left;
    .wrapper();
  }

  .promo__wrapper {
    justify-content: flex-start;
    background-image: none;
    flex-wrap: wrap;
  }

  .promo__title {
    padding-top: 53px;
    padding-left: 87px;
    padding-bottom: 41px;
    width: 420px;
    .font-size(60px; 60px);
    color: @color-text-17;
    text-align: left;
    z-index: 2;
  }

  .promo__text {
    padding-left: 90px;
    padding-bottom: 50px;
    .font-size(20px; 20px);
    color: @color-text-17;
    z-index: 2;
  }

  .promo__button {
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    top: 285px;
    margin-left: 89px;
    width: 244px;
    z-index: 2;
  }

  .promo__image {
    margin-top: -30px;
    width: 709px;
    height: 609px;
    z-index: 1;
  }

  .promo picture {
    height: 580px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    padding-bottom: 15px;
    .wrapper();
  }

  .promo__title {
    padding-top: 100px;
    padding-left: 81px;
  }

  .promo__text {
    padding-left: 81px;
  }

  .promo__button {
    position: relative;
    top: -305px;
    margin-left: 80px;
  }

  .promo__image {
    position: absolute;
    top: 55px;
    right: 250px;
    width: 552px;
    height: 499px;
  }

  .promo picture {
    height: 310px;
  }
}
