.promo {
  padding-top: 21px;
  text-align: center;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;
  background: url("/img/index-background-mobile@1x.jpg") no-repeat, linear-gradient(@color-bg 305px, transparent 305px);
  background-size: auto;
  color: @color-white;
}

.promo__title {
  padding: 29px 40px;
  margin: 0;
  font-family: @font-regular;
  font-weight: normal;
  .font-size(34px; 36px);
}

.promo__text {
  padding-bottom: 29px;
  font-family: @font-regular;
  .font-size(14px; 14px);
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
}
@media(min-width: @tablet-width) {
  .promo {
    width: 100%;
    position: relative;
    text-align: left;
    .wrapper();
  }

  .promo__wrapper {
    justify-content: flex-end;
    background-image: none;
  }

  .promo__title {
    padding-left: 90px;
    padding-bottom: 40px;
    width: 420px;
    order: 1;
    .font-size(60px; 60px);
    color: @color-text-17;
    text-align: left;
  }

  .promo__text {
    padding-left: 90px;
    padding-bottom: 40px;
    order: 2;
    .font-size(20px; 20px);
    color: @color-text-17;
  }

  .promo__button {
    order: 3;
    margin-left: 90px;
  }

  .promo__image {
    order: 4;
  }
}
@media (min-width: @desktop-width) {
  .promo {
    .wrapper();
  }

  .promo__title {
    padding-left: 81px;
  }

  .promo__text {
    padding-left: 81px;
  }

  .promo__button {
    width: 225px;
  }

  .promo__image {
    margin-top: -200px;
  }
}
